.theme {
    background-color: black;
    color: white;
}

nav ul {
    list-style-type: none;
    padding: 0;
    align-content: center;
}

nav {
    float: left;
    width: 25%;
    padding: 5px;
}

container {
    align-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
    padding: 10px;
    width: 55%;
    float: left;
    margin-top: 1%;
    font-family: "Times New Roman", "Arial", sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    padding: 5px;
    text-align: center;
    font-size: 110%;
}

li a:hover {
    background-color: teal;
    color: white;
}

.active {
    background-color: teal;
    color: white;
}

aside {
    float: left;
    width: 10%;
    padding: 5px;
    text-align: center;
}

footer {
    clear: both;
    color: white;
    font-size: 80%;
    padding: 10px;
    background-color: rgb(30, 30, 30);
    text-align: right;
}

.invert { /* Image Inverted Colors */
    -webkit-filter: invert(1);
    filter: invert(1);

    vertical-align: middle;
}

.clickimg {
    opacity: 0.8;
    width: 50%;
}

.clickimg:hover, .invert:hover {
    opacity: 1.0 !important;
    transform: scale(0.97);
    transition-duration: 0.5s;
}

.teal { /* Teal Class */
    background-color: rgb(30, 40, 40);
    color: white; /* White Text */
    padding: 10px; /* Ten Pixel Padding */
}
   
#Game::before {
    background-image: url(Game.png); 
    background-size: cover;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.95;
}

header { /* Header Style */
    color: white;
    text-align: center;
    font-size: 200%;
}

h2 {
    font-size: 125%;
}
        
p { /* p Style */
    display: inline-block;
}
     
a {
    text-decoration: none;
    color: aqua;
}

.menu {
    float: right;
    overflow: hidden;
}

.menu .menu-button {
    cursor: pointer;
    border: none;
    outline: none;
    color: aqua;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    font-size: 110%;
    padding: 5px;
}

.menu a:hover, .menu:hover .menu-button {
    background-color: teal;
    color: white;
}

.menu-content {
    display: none;
    position: absolute;
    background-color: rgb(30, 30, 30);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.menu-content a {
    float: none;
    color: aqua;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu-content a:hover {
    background-color: teal;
    color: white;
}

.menu:hover .menu-content {
    display: block;
}

.menu .search {
    float: right;
}

.menu input[type=text] {
    float: right;
    border: none;
    font-size: 110%;
}

.menu .search button {
    float: right;
    background: #ddd;
    border: none;
    cursor: pointer;
}

button {
    color: aqua;
    background-color: black;
    padding: 5px;
    margin: 3px;
}
        
#printme {
    background-color: teal;
    color: white;
    width: 50%;
    text-align: center;
}

@media screen and (max-width: 600px) {
  .menu a, .menu input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  
  .menu input[type=text] {
    border: 1px solid #ccc;  
  }
}

@media (max-width: 720px) {
    nav, container {
    width: 100%;
    height: auto;
    }
}

@media (max-width: 500px) {
    .menu, .menu-content {
        float: left;
    }
    .clickimg {
        width: 100%;
        max-width: 500px;
    }
}